@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300;400&family=Yeseva+One&display=swap');

/*---  font-family: 'Yeseva One', cursive;--*/
body {
    background-color: #fafafa;
    font-family: 'Darker Grotesque', sans-serif;
    font-size: 24px;
    text-align: center;
    margin: 10px;
}


nav {
    margin-bottom: 10px;
    font-family: 'Darker Grotesque', sans-serif;
}

.navbar {
    color: #0d1922;
    text-transform: lowercase;
}


.navbar-brand {
    font-size: 2em !important;

}

.navbar a {
    color: #0d1922 !important;
    font-size: 24px;
}

.navbar a:hover {
    text-decoration: underline;
}

.navbar li {
    list-style-type: none;

}

/*----PROFILE PAGE----*/

.profile h3 {
    font-family: 'Yeseva One', cursive;
    font-size: 50px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 100px;
    margin-top: 20px;
}

.profile img {
    width: 500px;
    border-radius: 5px;
}

.profile img:hover {
    height: 300px;
    transition: 0.5s ease-in-out;
    filter: brightness(50%);
}

.journal-entry-link a {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 600;
    text-decoration: none;
    color: #fafafa;
    text-shadow: 0.5px 0.5px 0.5px #0d1922;
    font-size: 1.4em;
    text-align: center;
    letter-spacing: 2px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.gratitude-entry-link a {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 600;
    text-decoration: none;
    color: #fafafa;
    text-shadow: 0.5px 0.5px 0.5px #0d1922;
    font-size: 1.4em;
    text-align: center;
    letter-spacing: 2px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media only screen and (max-width: 900px) {

    .gratitude-entry-link {
        margin-top: 60px;
    }

}

/*-----ENTRY COLLECTION---*/
.journal-search h1 {
    font-family: 'Yeseva One', cursive;
    margin-bottom: 50px;
    margin-top: 30px;
}
.searchbar {
    margin-bottom: 30px;
    border: 1px solid #0d1922;
}
.searchbar button {
    background-color: #0d1922;
}

.journal-collection .card {
    font-size: 20px;
}

.accord-grat {
    text-decoration: none!important;
    color: #fafafa;
    font-family: 'Darker Grotesque', sans-serif;
    font-size: 28px;
    text-shadow: 0px 0px 4px #0d1922;  
}
.accord-grat:hover {
    color: #fafafa;
    font-size: 32px;

}
.card {
    background-color:#0d1922;
    border-radius: none;
    border:none;
    margin-right: 100px;
    margin-left: 100px;
    margin-top: 10px;
}

.card-body {
    background-color:#fafafa;
}

.buttons button {
    padding: 10px 20px;
    border-radius:0;
    margin-right: 10px;

} 

.buttons button a {
    color:#0d1922;
    font-family: 'Darker Grotesque', sans-serif;
    text-transform: uppercase;
}

@media only screen and (max-width: 800px) {

    .card {
        margin-right: none;
        margin-left: none;
    }

}

/*------JOURNAL-------*/
.journal-page form {
    background-color:#0d1922;
    height: 600px;
    color: #fafafa;
    text-align: left;
    padding: 40px 80px 20px;
    border-radius:0;
    
}
.journal-page placeholder {
    color: #0d1922;
}

.journal-page button {
    background-color:#fafafa;
    color: #0d1922;
    padding: 7px 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius:0;
    border: 1px #fafafa;
    font-family: 'Darker Grotesque', sans-serif;
    font-size: 20px;
}
.journal-page h1 {
    font-family: 'Yeseva One', cursive;
    margin-bottom: 30px;
    margin-top:20px;
    text-transform: lowercase;
}

/*----EDIT ENTRY----*/


/*-----GRATITUDE COLLECTION---*/
.grat-collection h1 {
    font-family: 'Yeseva One', cursive;
    margin-bottom: 50px;
    margin-top: 30px;
}
.grat-collection .card {
    font-size: 20px;
}

.accord-grat {
    text-decoration: none!important;
    color: #fafafa;
    font-family: 'Darker Grotesque', sans-serif;
    font-size: 28px;
    text-shadow: 0px 0px 4px #0d1922;  
}
.accord-grat:hover {
    color: #fafafa;
    font-size: 32px;

}
.card {
    background-color:#0d1922;
    border-radius: none;
    border:none;
    margin-right: 100px;
    margin-left: 100px;
    margin-top: 10px;
}

.card-body {
    background-color:#fafafa;
}

.buttons button {
    padding: 10px 20px;
    border-radius:0;
    margin-right: 10px;

} 

.buttons button a {
    color:#0d1922;
    font-family: 'Darker Grotesque', sans-serif;
    text-transform: uppercase;
}

@media only screen and (max-width: 800px) {

    .card {
        margin-right: none;
        margin-left: none;
    }

}
/*------WRITE GRATITUDES-------*/
.gratitude-page form {
    background-color:#0d1922;
    height: 600px;
    color: #fafafa;
    text-align: left;
    padding: 40px 80px 20px;
    border-radius:0;
    
}
.gratitude-page placeholder {
    color: #0d1922;
}

.gratitude-page button {
    background-color:#fafafa;
    color: #0d1922;
    padding: 7px 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius:0;
    border: 1px #fafafa;
    font-family: 'Darker Grotesque', sans-serif;
    font-size: 20px;
}
.gratitude-page h1 {
    font-family: 'Yeseva One', cursive;
    margin-bottom: 30px;
    margin-top:20px;
    text-transform: lowercase;
}


/*----EDIT GRATITUDES----*/
.gratitude-page-edit form {
    background-image: url(../images/linen.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    color: #fafafa;
    text-align: left;
    padding: 40px 80px 20px;
    border-radius:0;
    width: 80%;
    display:inline-block;
   
}
.gratitude-page-edit button {
    margin: 0 auto;
    display: block;
    margin-top: 50px;
    padding: 10px 50px 10px 50px;
    box-shadow: 2px 2x 2px 10px #0d1922;
}
.gratitude-page-edit button:hover{
    box-shadow: 2px 2x 2px 10px #0d1922;
    transition: 0.5s ease-in-out ;
    background-color: #0d1922;
    color: #fafafa;
    text-transform: uppercase;
    
} 


/*-----HOMEPAGE---*/

.homepage {
    background-image: url(../images/forest.png);
    padding: 50px;
}

.homepage-text {
    padding-bottom: 50px;
}

.homepage h1 {
    font-family: 'Yeseva One', cursive;
    margin-top: 30px;
    margin-bottom: 40px;
    font-size:50px;
}

.homepage p {
    font-size: 24px;
    margin-bottom: 20px;
}

.homepage button {
    font-family: 'Yeseva One', cursive;
    font-size: 20px;
    background-color: #fafafa;
    padding: 20px 20px;
    margin: 40px;
    text-align: center;   
}

.homepage button a {
    color: #0d1922;
    text-decoration: none;
}

.homepage button:hover {
    box-shadow: 0px 0.5px 10px #0d1922;
    transition: 0.5s ease-in-out ;

}


/*------LOGIN-------*/


/*----REGISTER----*/