{% extends "base.html" %}
{% block content %}

<section class="journal-search entry-collection">
    <h1>Your entries:</h1>
    <div class="row card-panel grey searchbar">
        <form action="{{ url_for('search') }}" method="post" class="col s8 search-bar">
            <div class="row valigin-wrapper">
                <div class="input-field col s12 m8">
                    <input type="text" class="text validate" name="query" minlength="3" id="query"
                        placeholder="Search by journal title" required>
                    <label for="query"> </label>
                </div>
                <div class="col s4 m4 edit-btn">
                       <button type="submit" class="btn">Search</button> 
                   <button class="btn"> <a href="{{ url_for('entry_collection') }}" > Reset</a></button>
                </div>
            </div>
        </form>
    </div>
</section>
<section class="journal-collection">
    {% if journal|length > 0 %}

    <div id="accordion">
        {% for journal in journal|sort(attribute='date', reverse = True) %}
        {% if session.user|lower == journal.created_by|lower or session.user == "admin"|lower %}
        <div class="card">
            <div class="card-header container" id="heading">
                <h5 class="mb-0">

                    <button class="btn btn-link accord-grat float-left" data-toggle="collapse"
                        data-target="#collapse{{ loop.index }} " aria-expanded="true"
                        aria-controls="collapse{{ loop.index }} ">
                       Date: {{ journal.date }} || {{ journal.title }}
                    </button>
                    <span class="buttons float-right">
                        <button class="btn"> <a
                                href="{{ url_for('edit_journal', journal_id=journal._id) }}">Edit</a></button>
                        <button class="btn"> <a
                                href="{{ url_for('delete_journal', journal_id=journal._id) }}">Delete</a></button>


                </h5>
                </span>
            </div>

            <div id="collapse{{ loop.index }} " class="collapse" aria-labelledby="heading{{ loop.index }} "
                data-parent="#accordion">
                <div class="card-body">
                    <strong>Mood: {{ journal.mood }}</strong>
                    <p>{{ journal.created_by }}</p>
                    <p>{{ journal.text }}</p>
                </div>

                {% endif %}
            </div>

        </div>

        {% endfor %}
    </div>
    {% else %}
    <h3>No Results Found</h3>
    {% endif %}
</section>

{% endblock %}