{% extends "base.html" %}
{% block content %}

<h1>Your entries:</h1>
{% if journal|length > 0 %}
<div id="accordion">
    {% for journal in journal %}
  <div class="card">
    <div class="card-header" id="headingOne">
            <div class="col s3">
                {% if session.user|lower == journal.created_by|lower %}
               
                    <a href="{{ url_for('edit_journal', journal_id=journal._id) }}" class="btn btn-primary">Edit</a>
                {% endif %}
            </div>
      <h5 class="mb-0">
        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          {{ journal.date }}<br>{{ journal.title}}
        </button>
      </h5>
    </div>
        
    <div id="collapseOne" class="collapse show" aria-labelledby="journalEntry" data-parent="#accordion">
      <div class="card-body">
          {{ journal.mood}}<br>
          {{ journal.text}}
    
      </div>
    </div>
      {% endfor %}
  </div>
</div>
{% endif %}
          
{% endblock %}