{% extends "base.html" %}
{% block content %}
<section class="grat-collection">
  <h1>You have been thankful for...</h1>

  {% if gratitudes|length > 0 %}

  <div id="accordion">
    {% for gratitude in gratitudes|sort(attribute='date', reverse = True) %}
    {% if session.user|lower == gratitude.created_by|lower or session.user == "admin"|lower %}
    <div class="card">
      <div class="card-header" id="heading">
        <h5 class="mb-0">
          <button class="btn btn-link accord-grat float-left" data-toggle="collapse"
            data-target="#collapse{{ loop.index }} " aria-expanded="true" aria-controls="collapse{{ loop.index }} ">
            Date: {{ gratitude.date }}
          </button>
          <span class="buttons float-right">
            <button class="btn edit"> <a
                href="{{ url_for('edit_gratitudes', gratitudes_id=gratitude._id) }}">Edit</a></button>
                <button type="button" class="btn delete-e" data-toggle="modal" data-target="#{{ gratitude._id }}exampleModal">
                  Delete
              </button>

              <!-- Modal -->
              <div class="modal fade" id="{{ gratitude._id }}exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                  aria-hidden="true">
                  <div class="modal-dialog">
                      <div class="modal-content">
                          <div class="modal-header">
                              <h5 class="modal-title" id="exampleModalLabel">Just to make sure..</h5>
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                              </button>
                          </div>
                          <div class="modal-body">
                              All changes are permanent, are you sure you want to delete these gratitudes?
                          </div>
                          <div class="modal-footer">
                              <button type="button" class="btn btn-secondary"
                                  data-dismiss="modal">Keep this Entry</button>
                                  <button class="btn delete-btn"> <a
                                    href="{{ url_for('delete_gratitudes', gratitudes_id=gratitude._id) }}">Delete</a></button>
                          </div>
                      </div>
                  </div>
              </div> 
        </h5>
        </span>
      </div>

      <div id="collapse{{ loop.index }} " class="collapse" aria-labelledby="heading{{ loop.index }} "
        data-parent="#accordion">
        <div class="card-body">
          <!---for admin to see the user who created the entry-->
          {% if session.user|lower == "admin"|lower %}
          <p class="admin-user-ref">
            <em>
              <strong>
                written by: {{ gratitude.created_by }}
              </strong>
            </em>
          </p>
          {% endif %}
          <p>Gratitude one: <br>{{ gratitude.grat_one }}</p>
          <p>Gratitude two: <br>{{ gratitude.grat_two }}</p>
          <p>Gratitude three: <br>{{ gratitude.grat_three }}</p>

        </div>

        {% endif %}
        </div>

      </div>

      {% endfor %}
    </div>
    {% else %}
    <h3>No Results Found</h3>
    {% endif %}
</section>

{% endblock %}