{% extends "base.html" %}
{% block content %}


<section class="journal-title">
    <h1>Journal</h1>
</section>

<section class="journal-entries">

    {% for journal in journal %}
        {% if journal|length > 0 %}
    <ul class="collapsible">
        <li>
            <div class="collapsible-header">
               <strong>Date </strong>:  {{ journal.date }} 
        {% endif %}
            </div>
            <div class="collapsible-body"><span>
                <p>Mood: <em>{{ journal.mood }}</em></p>
                <p>{{ journal.text }}</p>
            </span>
        </div>
        </li>
    </ul>

    {% endfor %}

</section>

<section class="journal input">


</section>
{% endblock %}