{% extends "base.html" %}
{% block content %}

<section class="journal-page">
    <h1>Your Journal</h1>
<!--Journal Input Form-->

<form class="col s12" method="POST" action="{{ url_for('journal') }}">
  <div class="form-group">
    <label for="date">Date</label>
    <input type="date" name="date" class="form-control validate" id="date" placeholder="Today's date">
  </div>
  <div class="form-group">
    <label for="mood">Mood</label>
    <select class="form-control validate" id="mood" name="mood">
      <option>Happy</option>
      <option>Sad</option>
      <option>Disconnected</option>
      <option>Hopeful</option>
      <option>Angry</option>
    </select>
  </div>
    <div class="form-group">
    <label for="title">Title</label>
    <input type="text" name="title" class="form-control validate" id="title" placeholder="Today's title">
  </div>

    <div class="form-group">
    <label for="created_by">Name</label>
    <input type="text" name="created_by" class="form-control validate" id="created_by" placeholder="username"> 
  </div>

  <div class="form-group">
    <label for="text">Start your journal</label>
    <textarea class="form-control validate" id="text" name="text" rows="5"></textarea>
  </div>
   <button type="submit" class="btn btn-primary">Submit</button>
</form>

</section>
<section>
    For past entries click <a href="{{ url_for('entry_collection') }}" >here</a>
</section>

{% endblock %}