{% extends "base.html" %}
{% block content %}


<section class="profile">
    <div class="row">
        <div class="col">
           
               <h3>
                   {{ username }}'s profile
               </h3>

        </div>
    </div>

    <div class="row container-fluid">
        <div class="col-md journal-entry-link">
            <img src="{{ url_for('static', filename='images/linen.png') }}" alt="linen">
                 <p><a href="{{ url_for('entry_collection') }}">{{ username }}'s journal entries</a></p>
        </div>
        <div class="col-md gratitude-entry-link">
            <img src="{{ url_for('static', filename='images/paint-two.png') }}" alt="wool" height="280">
            <p><a href="{{ url_for('gratitude_collection') }}">{{ username }}'s gratitudes</a></p>
        </div>
    </div>
</section>
              

            



{% endblock %}